.input [class~='MuiInputBase-root'] {
  display: block;
  width: 100%;
  border-radius: 8px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-right: 1.5rem;
  color: #272727;
  font-size: 0.875rem;

  &:focus-visible,
  &:focus {
    outline-color: #d8d8d8;
  }
}
