.container {
  max-width: 1280px;
  padding: 1.5rem 1rem;
  margin: 0 auto;

  
  h1 {
    padding-top: 1rem;
    color: #f5821fe5;
    white-space: nowrap;
  }

  p {
    color: #f5821fe5;
    padding-bottom: 2rem;
    strong {
      background-color: #f5831f39;
      padding: 0.2rem 0.5rem;
      border-radius: 50px;
    }
  }
}

.wrapperButtons {
  display: flex;
  gap: clamp(1rem, 6vw, 3rem);
  place-content: end;
  padding-bottom: 1.5rem;

  @media (max-width: 500px) {
    place-content: space-between;
  }
}

.form {
  @media (min-width: 340px) {
    background-color: white;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1.5rem;
  }
  border-radius: 1rem;

  label {
    color: #272727;
    font-size: 0.875rem;
    font-weight: bold;
    span {
      color: #d23030;
    }
  }

  section {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    column-gap: 3rem;

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }

  h3 {
    margin: 1rem 0;
    color: #2b2b2b;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
  }
}

