.dashboard {
  max-width: 1280px;
  padding: 1.5rem 1rem;
  margin: 0 auto;
}

.headerTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  color: #005247;
  font-weight: bold; 
  justify-content: center;
  padding: 20px;
}

.link{
  text-decoration: none;
  appearance: none;
  color:#005247;
}

.back{
  width: 25%;
}

.section {
  input {
    margin-bottom: 2rem;
  }
}

.header {
  display: flex;
  margin-block: 2rem;
  row-gap: 1rem;
  flex-wrap: wrap;
  
}

.action {
  display: flex;
  gap: 1rem;
  place-content: center;
  @media (max-width: 600px) {
    gap: 0.1rem;
  }
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  place-content: end;
}

.addButton{
  width: 25%;
  display: flex;
  justify-content: flex-end
}

@media (max-width: 800px) {
  .title{
    font-size: 22px !important;
    
  }
}

@media (max-width: 620px) {
  .title{
    font-size: 17px !important;
  }

  .addButton{
    width: 35%;
  }
}

@media (max-width: 500px) {
  .title{
    font-size: 16px !important;
    padding-left: 10px;
    padding-right: 10px;
  }

}