.container {
  max-width: 1280px;
  padding: 1.5rem 1rem;
  margin: 0 auto;

  h1 {
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: #037021;
    font-size: 1.5rem;

    strong {
      background-color: #bae4c6;
      padding: .2rem .5rem;
      border-radius: 50px;
    }
  }
}

.wrapperButtons {
  display: flex;
  gap: clamp(1rem, 6vw, 3rem);
  place-content: end;
  padding-bottom: 1.5rem;

  @media (max-width: 500px) {
    place-content: space-between;
  }
}

.form {
  background-color: white;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;

  label {
    font-size: 0.875rem;
  }

  section {
    padding-top: 1rem;
  }

  h3 {
    margin: 1rem 0;
    color: #2b2b2b;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
  }
}
