.menuList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 135px auto;
  gap: 4rem;
  max-width: 1280px;
  padding: 1.5rem 1.5rem;
}

.menuOption {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 20%;
  p {
    font-weight: 600;
  }
  a {
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
    padding: 0px 30px;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    border: none;
    color: #f5821fe5;
    font-weight: 800;
    font-size: 1.3rem;
    gap: 1rem;
    cursor: pointer;
    
    svg {
        font-size: 2.5rem; 
    }

    svg:not(.associationIcon) {
      path {
        stroke: #f5821fe5;
      }
    }

    &:hover {
        border: 1px solid #f5821fe5;
    }
  }
}
