.main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 66px);
  place-content: center;
  place-items: center;

  h1 {
    color:  #f5821fe5; 
    margin-bottom: 10px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    max-width: 1300px;
  }

  .leftContent {
    flex: 1;
    margin-right: 50px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
  }

  .rightContent {
    flex: 1;
    margin-left: 30px; 
  }

  .loginTitle {
    text-align: center;
  }

  .loginFormContainer {
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(100% - 50px); 
    max-width: 500px;
  }

  .loginFormContent {
    margin-bottom: 10px;
  }


}


.loginForm {
  width: 100%;
  padding: 1rem;
  margin-bottom: 10px;
  label {
    font-size: 0.875rem;
    font-weight: 700;
  }
}

.loginForm button {
  place-self: center;
  width: 100%;
  margin-top: 1rem;
  border-radius: 8px; 
}

.registerMessage {
  text-align: center;
  font-size: 0.875rem;
  a {
    text-decoration: underline;
    color:  #f5821fe5; 
  }
}

.links {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-top: 10px;

  a {
    color: #f5821fe5; 
    text-decoration: underline;
  }
}

.wrapper {
  display: flex;
  gap: 0.5rem;
  place-items: center;

  label {
    font-weight: 400;
    color: #868686;
    font-size: 0.75rem;
  }
}

@media (max-width: 800px) {
  .loginForm {
    width: 100%;
  }
}



@media (max-width: 600px){
  .leftContent {
    display: none !important;
  }
  .rightContent {
    margin: 50px 0px !important;
  }
}