.navbar[class~='MuiPaper-root'] {
  background-color: white;
  box-shadow: 1px solid rgba(0, 0, 0, 0.12);
  padding-block: 8px;

  h1 {
    color: #f5821fe5;
    font-size: 1.5rem;
    margin-left: 10px;
  }
}

.menuItem a {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;

  @media (max-width: 899px) {
    color: black !important;
  }
}

.active {
  color: white;
  font-weight: bold;
}

.logout {
  cursor: pointer;
  border: none;
  background: none;
  color: #f5821fe5;
}

@media (max-width: 768px) {
  .image {
    width: 70%;
    height: auto;
  }
}
