.navbar[class~="MuiPaper-root"] {
    background-color: #f5821fe5;
    box-shadow: none;
    padding-block: 8px;
}

.pagesList {
    display: flex;
    gap: 1rem;
    list-style: none;
    color: white;
}

.menuItem a {
    font-size: 1rem;
    padding: .5rem 1rem;
    text-decoration: none;
    color: white;

    @media (max-width: 899px) {
        color: black !important;
    }
}

.menu {
    color: white;
}

.active {
    color: orange;
    font-weight: bold;
}

.logout {
    cursor: pointer;
    border: none;
    background: none;
    color: white;
}
  

@media (max-width: 768px) {
    .image {
        width: 70%;
        height: auto;
    }
}