.footer {
  background-color: #f5821fe5;
  color: white;
  font-weight: 400;
  height: fit-content;
  grid-row: -1;

  ul {
    max-width: 1280px;
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    place-items: center;
    list-style: none;
  }

  li {
    width: fit-content;
  }
}

.logo {
  display: flex;
  place-items: center;
  gap: .45rem;
  color: white;
}

.socialNetwork {
  display: flex;
  gap: 1.5rem;
  place-items: center;
  height: fit-content;

  .email {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .footer svg {
    width: 40%;
  }
  .ufapelmtsWrapper {
    width: 60%;
    place-self: end;
  }
  .logoImg {
    width: 20%;
  }
  .ufapeLmts {
    padding: .6rem;
  }
}