.searchContainer {
    display: flex;
    align-items: center;
    width: 950px; 
    position: relative;
  }
  
  .searchIconContainer {
    position: absolute;
    right: 0px;;
    background-color: orange; 
    padding: 15px;
    border-radius: 0 4px 4px 0;
  }
  
  .searchIcon {
    color: white; 
  }
  