.registerForm {
  max-width: 850px;
  margin: 3rem auto;
  padding: 1.5rem 1rem;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  padding-top: 40px;
  padding-inline: 30px;

  .loginMessage {
    text-align: center;
    font-size: .875rem;
    a {
      text-decoration: underline;
      color: #037021;
    }
  }

  h1 {
    text-align: center;
    padding-bottom: .3rem;
    color: #037021;
    font-weight: 800;
    display: flex;
    place-items: center;
    place-content: center;
    gap: 0.5rem;
    font-size: 1.5rem;
  }

  label {
    color: #272727;
    font-size: 0.875rem;
    font-weight: 600;
    span {
      color: #d23030;
    }
  }
  input {
    display: block;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #d8d8d8;
    padding: 0.7rem 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #272727;
    font-size: 0.875rem;

    &:focus-visible,
    &:focus {
      outline-color: #d8d8d8;
    }
  }
}

.wrapperButtons {
  display: flex;
  gap: clamp(1rem, 6vw, 3rem);
  place-content: center;
  padding-top: 1.5rem;

  @media (max-width: 500px) {
    place-content: space-between;
  }
}

.mainForm {
  width: 100%;
  padding-inline: 2rem;
  grid-row: span 2;
  place-self: center;
}
