.main {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;

  h1 {
    color: #f5821fe5;
    margin-bottom: 10px;
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
}
