.link {
  border-radius: 8px;
  padding: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-left: 30px;
}

.link[data-type='transparent'] {
  border: 1px solid #868686;
  color: #868686;
  background-color: transparent;

  &:hover {
    background-color: #86868625;
  }
}

.link[data-type='filled'] {
  border: 1px solid transparent;
  color: #fff5f6;
  background-color: #005247;


  &:hover {
    opacity: 0.7;
  }
}
